################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MobileManager/FileContentIndex/28206133-539e-494b-855d-d71d34138bc9.vsidx
